<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         id="{{eclipse.product.id}}"
         point="org.eclipse.core.runtime.products">
      <product
            application="{{eclipse.application.id}}"
            name="{{eclipse.application.id}}">
         <property
               name="appName"
               value="Eclipse RCP Application">
         </property>
      </product>
   </extension>
      <extension
         id="{{eclipse.application.id}}"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="{{basePackageName}}.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="{{basePackageName}}.Perspective"
            name="Perspective"
            id="{{projectName}}.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="{{basePackageName}}.View"
            name="View"
            id="{{projectName}}.view"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="{{projectName}}.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
