<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="{{eclipse.product.id}}"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="{{eclipse.product.id}}">
         <property
               name="appName"
               value="Eclipse RCP Application">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/{{projectName}}/css/default.css">
         </property>
      </product>
   </extension>
</plugin>
